PORT=8000

## config/database.yml
DATABASE_NAME=railsmq_development
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_POOL=50
DATABASE_CONNECTION_TIMEOUT=300

DATABASE_TEST_NAME=railsmq_test
DATABASE_TEST_USERNAME=username
DATABASE_TEST_PASSWORD=password
DATABASE_TEST_HOST=127.0.0.1
DATABASE_TEST_PORT=3306
DATABASE_TEST_POOL=50
DATABASE_TEST_CONNECTION_TIMEOUT=10000

## bunny to amqp settings
BUNNY_AMQP_ADDRESSES=localhost:5672
BUNNY_AMQP_USER=guest
BUNNY_AMQP_PASSWORD=guest
BUNNY_AMQP_EXCHANGE=railsmq
BUNNY_AMQP_VHOST=railsmq
BUNNY_CONTINUATION_TIMEOUT=10000

## sneakers to amqp settings
SNEAKERS_AMQP_EXCHANGE=railsmq
SNEAKERS_WORKER=2
SNEAKERS_PREFETCH=10
SNEAKERS_THREADS=10